<div class="modal" id="ct" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Image - [[ image.Id.substring(0, 20) ]]</h5>
        <button type="button" class="close" data-dismiss="modal"
        aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  Repo
                </span>
              </div>
              <input type="text"
              v-model="repo"
              class="form-control"
              placeholder="Enter image repo ...">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  Tag
                </span>
              </div>
              <input type="text"
              v-model="tag"
              class="form-control"
              placeholder="Enter tag ...">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button"
        class="btn btn-primary"
        data-dismiss="modal"
        @click="createTag()">
          Save
        </button>
      </div>
    </div>
  </div>
</div>
