<div class="modal" id="tg" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Image - [[ image.Id.substring(0, 20) ]]</h5>
        <button type="button" class="close" data-dismiss="modal"
        aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label>Tags</label>
        <div class="table-responsive">
          <table class="table">
            <tbody style="display: block; overflow-x: scroll">
              <tr v-for="x in image.RepoTags">
                <td>[[ x ]]</td>
                <td>
                  <a href="#console"
                  style="color: black"
                  @click="deleteTag(x)">
                    <i class="fas fa-trash"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
